@font-face {
    font-family: AKOODI;
    src: url("../assets/fonts/AKOODIpersonal\ use.ttf");
    font-weight: 500;
}

* {
    margin: 0%;
    padding: 0%;
}
.page {
    height: 100vh;
}

body {
    background: #f4ac7d;
}

h1 {
    height: 33vh;
}

.coverDesktop {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/img/portrait/ween40-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: absolute;
}

.coverMobile {
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/img/portrait/ween40-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    overflow-x: hidden;
    position: absolute;
}

h1 {
    text-align: center;
    color: rgb(171, 231, 226);
    width: 100%;
    font-family: "AKOODI", sans-serif !important;
}

.cosmo {
    padding-top: 2px;
    top: -7vh;
}

.h1Mobile {
    font-size: 7.5rem;
}

.h1Desktop {
    font-size: 12rem;
}
