* {
    margin: 0%;
    padding: 0%;
}

.coverScreen {
    height: 100vh;
    background-image: url(../assets/img/ween40-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
