@font-face {
    font-family: AKOODI;
    src: url("../assets/fonts/AKOODIpersonal\ use.ttf");
    font-weight: 500;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background: #f4ac7d;
}

.coverDesktop {
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/img/ween40-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.coverMobile {
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/img/ween40-2.jpg);
    background-attachment: fixed;
    background-position: center;
}

h1 {
    position: absolute;
    text-align: center;
    color: rgb(171, 231, 226);
    width: 100%;
    font-family: "AKOODI", sans-serif !important;
}

.bottom {
    margin-top: 10vh;
}
.h1Mobile {
    font-size: 7.5rem;
}

.h1Desktop {
    font-size: 12rem;
}

h1.cosmoMobile {
    font-size: 7.5rem;
    transform: translateY(-45.5vh);
    top: 40.5vh;
    position: sticky !important;
}
h1.cosmoDesktop {
    font-size: 12rem;
    transform: translateY(-45.5vh);
    top: 38.5vh;
    position: sticky !important;
}
