div.body {
    background-color: #aa93e5;
}

nav.navbar.nav-open {
    margin-left: 10%;
    position: absolute;
    display: block;
    background-color: rgb(95, 95, 95);
    width: 300px;
    border-radius: 20px;
    list-style: none;
    text-align: center;
    z-index: 6;
    transition: 0.32s ease-in-out;
}
nav.navbar.nav-closed {
    background-color: rgb(95, 95, 95) !important;
    border-radius: 10px;
    width: 56px;
    transition: 0.32s ease-in-out;
    position: absolute;
    margin-left: 5%;
    display: block;
    z-index: 6;
}

.navItem {
    background-color: rgb(95, 95, 95);

    color: rgb(200, 193, 253);
    text-decoration: none;
    margin-bottom: 10px;
    padding: 8px 16px;
}

.navItem:hover {
    color: rgb(91, 91, 91);
}
