nav.navbar {
    margin-left: -100%;
    position: sticky;
    top: 30vh;
    background-color: rgb(95, 95, 95);
    width: 100%;
    border-radius: 17px;
    list-style: none;
    text-align: center;
    z-index: 2;
}

.navItem {
    color: rgb(200, 193, 253);
    text-decoration: none;
    padding: 8px 16px;
}

.navItem:hover {
    color: rgb(91, 91, 91);
}
nav.navbar a.navbar-brand {
    width: 1%;
}
