div.page {
    height: 100vh;
    background-color: #aa93e5;
}

.page {
    justify-content: center;
}

.centerImg {
    position: relative;
    width: auto;
}

img {
    max-width: 80vw;
    max-height: 90vh;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}
