section.page {
    padding-top: 40vh;
    width: 100vw;
    background-image: linear-gradient(#aa93e5, #80c1f6, #f4ac7d);
    text-align: center;
    height: auto;
}

.desktop img {
    display: inline-flex;
    position: relative;
}

img.currentImg {
    border-radius: 20px;
    max-width: 30vh;
    max-height: 30vh;
    padding: 5px;
    z-index: 0;
}

img.currentImg:hover {
    background-color: #c2d7eb;
}

img.enlargeImg {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    max-height: 85vh;
    border-radius: 20px;
}
img.enlargeImg:hover {
    background-color: #c2d7eb;
}
