@font-face {
    font-family: AKOODI;
    src: url("../assets/fonts/AKOODIpersonal\ use.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Signature;
    src: url("../assets/fonts/TheQueenthineDemo.ttf");
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
}

.navbar {
    padding-bottom: 5vh;
    top: 0;
    position: sticky;
    z-index: 3;
}

.mobile .navbar {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.navbar li {
    color: rgb(233, 247, 245);
    display: inline-flex;
    list-style-type: none;
    font-family: "AKOODI", sans-serif !important;
    padding: 10px;
}

.desktop .Cosmo {
    font-family: "Signature", sans-serif !important;
    font-size: 6rem;
    margin-left: 55vw;
}

.navbar li.navItem:hover {
    color: #c2d7eb;
}

.activeElement:hover {
    color: #c2d7eb;
}

.activeElement {
    color: #f4ac7d;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown h2 {
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #aa93e5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
